
header{
    text-align: center;
    max-width: 70%;
    margin: auto;
    background-color: white;
}
h1{
    margin: 0px;
    padding: 5px;
}

p{
    margin: 0px;
}

main{
    max-width: 70%;
    margin: auto;
    background-color: white;
}


img{
    max-width: 300px;
    min-width: 315px;
    float: left;
}

div{
    margin: 10px;
}